$color-primario:#8215BC;
$color-secundario: #E4FF22;
$color-terciario: white;
$color-terciario-2: #F2F2F2;
$color-terciario-3: black;
$color-texto: #828282;
$gradiente: linear-gradient(162.29deg, #8215BC 25.51%, #FF00FF 150.49%);