@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "gobold_bolditalic";
  src: url("fonts/gobold_bold_italic-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gobolditalic";
  src: url("fonts/gobold_regular_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "GoboldThinLight-Italic";
  src: url("./fonts/GoboldLightItalic.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/GoboldLightItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "GoboldHollow-Italic";
  src: url("./fonts/GoboldHollowItalic.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/GoboldHollowItalic.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.seccion-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  flex-direction: column;
  justify-content: flex-start;
  height: 750px;
}
.seccion-1 .video-banner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 970px;
  display: block;
}
.seccion-1 .video-banner .bg-video {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: -2;
}
.seccion-1 .video-banner .header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  width: 100%;
  height: 70px;
  justify-content: space-between;
}
.seccion-1 .video-banner .header-nav .logo-coderhouse {
  margin-right: auto;
  font-family: "gobold_bolditalic";
  font-size: 20px;
  line-height: 60px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: white;
}
.seccion-1 .video-banner .header-nav .logo-coderhouse span {
  font-family: "GoboldThinLight-Italic";
  color: #E4FF22;
}
.seccion-1 .video-banner .header-nav .nav-1 {
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu {
  display: flex;
  list-style-type: none;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .hamburger {
  display: none;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal {
  display: flex;
  list-style-type: none;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal #menu-li {
  flex-direction: row;
  padding: 30px 25px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #F2F2F2;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal #menu-li a {
  padding: 8px;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal #menu-li a:link {
  text-decoration: none;
  color: #F2F2F2;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal #menu-li a:visited {
  color: #F2F2F2;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal #menu-li a:hover {
  color: #8215BC;
  background-color: #E4FF22;
  padding: 8px;
  transition: 0.3s;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal #menu-li a:active {
  color: #E4FF22;
  background-color: transparent;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal li .boton-3 {
  height: 50px;
  background: transparent;
  color: #E4FF22;
  padding: 14px 20px;
  border: 2px solid #E4FF22;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  outline: none;
  margin-top: 14px;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal li .boton-3:hover {
  background: #E4FF22;
  color: black;
  transition: 0.3s;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal li .boton-3:active {
  background-color: black;
  color: #E4FF22;
  padding: 14px 20px;
  border: 2px solid #E4FF22;
}
.seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal li .boton-3 i {
  padding-right: 8px;
}
.seccion-1 .video-banner .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.seccion-1 .video-banner .banner .info-banner {
  width: 47%;
  height: 100%;
  padding: 100px 0px 0px 140px;
  display: flex;
  flex-direction: column;
}
.seccion-1 .video-banner .banner .info-banner p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 29px;
  color: #F2F2F2;
}
.seccion-1 .video-banner .banner .info-banner h2 {
  font-family: "gobold_bolditalic";
  font-size: 45px;
  color: white;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 0.01em;
}
.seccion-1 .video-banner .banner .info-banner h4 {
  font-family: "gobold_bolditalic";
  font-size: 22px;
  line-height: 45px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E4FF22;
  text-transform: uppercase;
}
.seccion-1 .video-banner .banner .cuenta-regresiva {
  position: absolute;
  background-color: rgba(130, 21, 188, 0.5);
  width: 90%;
  height: 82px;
  left: 10%;
  top: 587px;
  z-index: 1;
  display: flex;
  padding: 10px;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador {
  display: flex;
  align-items: center;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador #botonconprecio {
  display: flex;
  align-items: center;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador #botonconprecio .boton-2 {
  height: 50px;
  width: 220px;
  background: #E4FF22;
  color: black;
  padding: 14px 20px;
  box-sizing: border-box;
  border: 2px solid #E4FF22;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 15px;
  outline: none;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador #botonconprecio .boton-2:hover {
  box-sizing: border-box;
  border: 2px solid #E4FF22;
  background: transparent;
  color: #E4FF22;
  transition: 0.3s;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador #botonconprecio .boton-2:active {
  background-color: white;
  color: black;
  padding: 14px 20px;
  border: 2px solid white;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador #botonconprecio .boton-2 i {
  padding-right: 8px;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador #botonconprecio #precio {
  padding: 13px 20px;
  box-sizing: border-box;
  border: 2px solid #E4FF22;
  background: transparent;
  color: #E4FF22;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 15px;
  display: flex;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info {
  font-family: "gobold_bolditalic";
  font-size: 18px;
  color: #E4FF22;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: 2%;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info #texto-preventa {
  width: 220px;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj {
  display: flex;
  padding-left: 2%;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj .countdown {
  display: flex;
  align-items: center;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj .countdown #countdown-dias, .seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj .countdown #countdown-horas, .seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj .countdown #countdown-minutos, .seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj .countdown #countdown-segundos {
  font-size: 40px;
  color: white;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj .countdown .texto-countdown {
  color: white;
  padding-left: 10%;
}
.seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj .countdown .hora {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-weight: 700;
  color: #E4FF22;
  padding-left: 10px;
}

.seccion-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 480px;
  width: 100%;
}
.seccion-2 #speakersreconocidos-seccion-2 {
  width: 50%;
  height: 100%;
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seccion-2 #speakersreconocidos-seccion-2 .titulo-10 {
  font-family: "gobold_bolditalic";
  font-size: 60px;
  line-height: 25px;
  text-transform: uppercase;
  color: #E4FF22;
}
.seccion-2 #speakersreconocidos-seccion-2 .titulo-10 span {
  color: #8215BC;
  margin-left: -20px;
}
.seccion-2 #speakersreconocidos-seccion-2 .titulo-thin {
  font-family: "GoboldThinLight-Italic";
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
}
.seccion-2 #speakersreconocidos-seccion-2 .titulo-bold {
  font-family: "gobold_bolditalic";
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
}
.seccion-2 #speakersreconocidos-seccion-2 h4 {
  font-family: "gobold_bolditalic";
  font-size: 22px;
  line-height: 45px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: "GoboldThinLight-Italic";
  color: #BDBDBD;
  line-height: 30px;
  letter-spacing: 0.01em;
}
.seccion-2 #texto-seccion-2 {
  width: 50%;
  padding-right: 140px;
}
.seccion-2 #texto-seccion-2 p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
}
.seccion-2 #texto-seccion-2 .boton-1 {
  margin-top: 30px;
  width: 163px;
  height: 50px;
  background: linear-gradient(162.29deg, #8215BC 25.51%, #FF00FF 150.49%);
  color: white;
  padding: 14px 20px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  transition: all 0.4s ease-in-out;
}
.seccion-2 #texto-seccion-2 .boton-1:hover {
  background: linear-gradient(162.29deg, #FF00FF 25.51%, #FF00FF 150.49%);
  transition: 0.3s;
}
.seccion-2 #texto-seccion-2 .boton-1:hover .fa-arrow-right {
  transition: all 0.5s ease-in-out;
  transform: translateX(50%);
}
.seccion-2 #texto-seccion-2 .boton-1:active {
  background: linear-gradient(162.29deg, #8215BC 25.51%, #8215BC 150.49%);
}
.seccion-2 #texto-seccion-2 .boton-1 i {
  padding-left: 5px;
}

.seccion-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  background-color: #E4FF22;
  height: 520px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.seccion-3 #img-seccion-3 {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.seccion-3 #img-seccion-3 .bg-video {
  height: 400px;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 {
  width: 50%;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  z-index: 2;
  padding-top: 60px;
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 .titulo-10 {
  font-family: "GoboldHollow-Italic";
  font-size: 60px;
  line-height: 35px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.01em;
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 .titulo-10 span {
  font-family: "gobold_bolditalic";
  color: #8215BC;
  margin-left: -20px;
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 .titulo-thin {
  font-family: "gobold_bolditalic";
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 h3 {
  font-family: "GoboldThinLight-Italic";
  color: black;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #8215BC;
  white-space: pre;
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 .boton-1 {
  margin-top: 30px;
  width: 163px;
  height: 50px;
  background: linear-gradient(162.29deg, #8215BC 25.51%, #FF00FF 150.49%);
  color: white;
  padding: 14px 20px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  transition: all 0.4s ease-in-out;
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 .boton-1:hover {
  background: linear-gradient(162.29deg, #FF00FF 25.51%, #FF00FF 150.49%);
  transition: 0.3s;
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 .boton-1:hover .fa-arrow-right {
  transition: all 0.5s ease-in-out;
  transform: translateX(50%);
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 .boton-1:active {
  background: linear-gradient(162.29deg, #8215BC 25.51%, #8215BC 150.49%);
}
.seccion-3 #img-seccion-3 #conferencias-seccion-3 .boton-1 i {
  padding-left: 5px;
}

.seccion-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
  height: 960px;
}
.seccion-4 .title {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}
.seccion-4 .title h3 {
  font-family: "gobold_bolditalic";
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 20px;
  color: #8215BC;
}
.seccion-4 .speakers {
  display: flex;
  flex-wrap: wrap;
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 124px;
}
.seccion-4 .speakers .cards-1, .seccion-4 .speakers .cards-2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.seccion-4 .speakers .cards-1 .speakerscard, .seccion-4 .speakers .cards-2 .speakerscard {
  height: 300px;
  width: 170px;
  margin-bottom: 20px;
  margin: 10px;
}
.seccion-4 .speakers .cards-1 .speakerscard .container, .seccion-4 .speakers .cards-2 .speakerscard .container {
  width: 170px;
  height: 170px;
  position: relative;
  text-align: center;
  color: white;
}
.seccion-4 .speakers .cards-1 .speakerscard .container img, .seccion-4 .speakers .cards-2 .speakerscard .container img {
  width: 100%;
  height: auto;
}
.seccion-4 .speakers .cards-1 .speakerscard .container .bottom-right, .seccion-4 .speakers .cards-2 .speakerscard .container .bottom-right {
  position: absolute;
  font-family: "gobold_bolditalic";
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #E4FF22;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.seccion-4 .speakers .cards-1 .speakerscard .texto-card h4, .seccion-4 .speakers .cards-2 .speakerscard .texto-card h4 {
  text-align: center;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  color: #8215BC;
}
.seccion-4 .speakers .cards-1 .speakerscard .texto-card p, .seccion-4 .speakers .cards-2 .speakerscard .texto-card p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #828282;
}

.seccion-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  flex-direction: column;
  height: 730px;
}
.seccion-5 .title {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion-5 .title h3 {
  font-family: "gobold_bolditalic";
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 20px;
  color: #8215BC;
}
.seccion-5 .cuerpo-seccion5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  height: 530px;
  padding-bottom: 124px;
}
.seccion-5 .cuerpo-seccion5 #img-seccion-5 {
  width: 380px;
  height: 380px;
  margin-left: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seccion-5 .cuerpo-seccion5 #img-seccion-5 #imagen-seccion-5 {
  width: 100%;
  height: auto;
}
.seccion-5 .cuerpo-seccion5 #texto-seccion-5 {
  width: 50%;
  height: 100%;
  padding-right: 140px;
  display: flex;
  flex-direction: column;
}
.seccion-5 .cuerpo-seccion5 #texto-seccion-5 .titulo-thin {
  font-family: "GoboldThinLight-Italic";
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
}
.seccion-5 .cuerpo-seccion5 #texto-seccion-5 .titulo-bold {
  font-family: "gobold_bolditalic";
  font-size: 50px;
  line-height: 65px;
  text-transform: uppercase;
  white-space: pre;
}
.seccion-5 .cuerpo-seccion5 #texto-seccion-5 #fondo span {
  font-family: "GoboldThinLight-Italic";
  background-color: #E4FF22;
  font-style: italic;
  font-weight: 100;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
.seccion-5 .cuerpo-seccion5 #texto-seccion-5 .texto-seccion-5 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #828282;
  padding-top: 30px;
}
.seccion-5 .cuerpo-seccion5 #texto-seccion-5 a {
  font-family: "gobolditalic";
  padding-top: 50px;
  color: #8215BC;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.seccion-5 .cuerpo-seccion5 #texto-seccion-5 a:hover {
  color: #FF00FF;
  transition: 0.3s;
}

.seccion-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  background: linear-gradient(162.29deg, #8215BC 25.51%, #FF00FF 150.49%);
  box-shadow: 10px 4px 20px rgba(130, 21, 188, 0.2);
  flex-direction: column;
  height: 853px;
}
.seccion-6 .title {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}
.seccion-6 .title h3 {
  font-family: "gobold_bolditalic";
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 20px;
  color: white;
}
.seccion-6 .agenda {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding-left: 230px;
  padding-right: 230px;
}
.seccion-6 .agenda .agenda-fila {
  display: flex;
  height: 60px;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.seccion-6 .agenda .agenda-fila .agenda-hora {
  margin-right: auto;
  width: 130px;
}
.seccion-6 .agenda .agenda-fila .agenda-hora h4 {
  font-family: "gobold_bolditalic";
  font-size: 20px;
  text-transform: uppercase;
}
.seccion-6 .agenda .agenda-fila .agenda-info {
  display: flex;
  flex: 1;
  border-bottom: 1px solid #FF00FF;
}
.seccion-6 .agenda .agenda-fila .agenda-info .charla {
  flex: 1;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
}
.seccion-6 .agenda .agenda-fila .agenda-info .charla .titulo-charla .color-charla {
  color: #E4FF22;
}
.seccion-6 .agenda .agenda-fila .agenda-info .categoria-charla {
  width: 100px;
  margin-left: auto;
  font-family: "gobold_bolditalic";
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #E4FF22;
  text-align: right;
}

.seccion-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 237px;
  padding-left: 140px;
  padding-right: 140px;
}
.seccion-7 #preventa-seccion-7 {
  width: 300px;
  font-family: "gobold_bolditalic";
  font-size: 22px;
  line-height: 26px;
  text-align: right;
  color: #E4FF22;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.seccion-7 #preventa-seccion-7 p {
  font-size: 18px;
  color: white;
  line-height: 38px;
}
.seccion-7 #contador {
  flex: 1;
}
.seccion-7 #contador .countdown-reloj {
  display: flex;
  align-items: center;
  padding-left: 2%;
  font-family: "gobold_bolditalic";
}
.seccion-7 #contador .countdown-reloj .countdown {
  display: flex;
  align-items: center;
  padding-left: 2%;
  font-family: "gobold_bolditalic";
}
.seccion-7 #contador .countdown-reloj .countdown #countdown-dias2, .seccion-7 #contador .countdown-reloj .countdown #countdown-horas2, .seccion-7 #contador .countdown-reloj .countdown #countdown-minutos2, .seccion-7 #contador .countdown-reloj .countdown #countdown-segundos2 {
  font-size: 40px;
  color: white;
}
.seccion-7 #contador .countdown-reloj .countdown .texto-countdown {
  color: white;
  padding-left: 10%;
  font-size: 18px;
}
.seccion-7 #contador .countdown-reloj .countdown .hora {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-weight: 700;
  color: #E4FF22;
  padding-left: 10px;
  font-size: 18px;
}
.seccion-7 #boton-seccion-7 {
  margin-left: auto;
}
.seccion-7 #boton-seccion-7 .boton-3 {
  height: 50px;
  background: transparent;
  color: #E4FF22;
  padding: 14px 20px;
  border: 2px solid #E4FF22;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  outline: none;
}
.seccion-7 #boton-seccion-7 .boton-3:hover {
  background: #E4FF22;
  color: black;
  transition: 0.3s;
}
.seccion-7 #boton-seccion-7 .boton-3:active {
  background-color: black;
  color: #E4FF22;
  padding: 14px 20px;
  border: 2px solid #E4FF22;
}
.seccion-7 #boton-seccion-7 .boton-3 i {
  padding-right: 8px;
}

.seccion-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
  height: 477px;
  flex-direction: column;
}
.seccion-8 .title {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}
.seccion-8 .title h3 {
  font-family: "gobold_bolditalic";
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 20px;
  color: #8215BC;
}
.seccion-8 .sponsors-seccion-8 {
  display: flex;
  flex: 1;
}
.seccion-8 .sponsors-seccion-8 .logos-sponsors {
  margin: 0px 30px;
  display: flex;
  width: 220px;
  height: 100px;
}
.seccion-8 .sponsors-seccion-8 .logos-sponsors img {
  width: 100%;
  height: auto;
}

.seccion-9 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E4FF22;
  height: 214px;
}
.seccion-9 #sponsor-seccion-9 h3 {
  font-family: "gobolditalic";
  padding-right: 40px;
  font-size: 30px;
  line-height: 45px;
  text-transform: uppercase;
}
.seccion-9 #boton-seccion-9 .boton-1 {
  width: 163px;
  height: 50px;
  background: linear-gradient(162.29deg, #8215BC 25.51%, #FF00FF 150.49%);
  color: white;
  padding: 14px 20px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  transition: all 0.4s ease-in-out;
}
.seccion-9 #boton-seccion-9 .boton-1:hover {
  background: linear-gradient(162.29deg, #FF00FF 25.51%, #FF00FF 150.49%);
  transition: 0.3s;
}
.seccion-9 #boton-seccion-9 .boton-1:hover .fa-arrow-right {
  transition: all 0.5s ease-in-out;
  transform: translateX(50%);
}
.seccion-9 #boton-seccion-9 .boton-1:active {
  background: linear-gradient(162.29deg, #8215BC 25.51%, #8215BC 150.49%);
}
.seccion-9 #boton-seccion-9 .boton-1 i {
  padding-left: 6px;
}

.seccion-10 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
  height: 700px;
}
.seccion-10 .title {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
}
.seccion-10 .title h3 {
  font-family: "gobold_bolditalic";
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 20px;
  color: #8215BC;
}
.seccion-10 .form-seccion-10 {
  display: flex;
  flex: 1;
  padding-left: 140px;
  padding-right: 140px;
  width: 100%;
}
.seccion-10 .form-seccion-10 form {
  display: flex;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}
.seccion-10 .form-seccion-10 form #form-nombre {
  width: 50%;
  display: flex;
  flex-direction: column;
  color: #828282;
}
.seccion-10 .form-seccion-10 form #form-nombre input[type=text], .seccion-10 .form-seccion-10 form #form-nombre select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #f8f8f8;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  outline: none;
}
.seccion-10 .form-seccion-10 form #form-nombre input[type=text]:focus {
  border: 3px solid #E4FF22;
}
.seccion-10 .form-seccion-10 form #form-nombre textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 3px solid #f8f8f8;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  outline: none;
}
.seccion-10 .form-seccion-10 form #form-nombre textarea:focus {
  border: 3px solid #E4FF22;
}
.seccion-10 .form-seccion-10 form #form-nombre .btn-form {
  width: 163px;
  height: 50px;
  background: linear-gradient(162.29deg, #8215BC 25.51%, #FF00FF 150.49%);
  color: white;
  padding: 14px 20px;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  outline: none;
  transition: all 0.4s ease-in-out;
  margin: 8px 0;
  margin-top: 40px;
  margin-left: auto;
}
.seccion-10 .form-seccion-10 form #form-nombre .btn-form:hover {
  background: linear-gradient(162.29deg, #FF00FF 25.51%, #FF00FF 150.49%);
  transition: 0.3s;
}
.seccion-10 .form-seccion-10 form #form-nombre .btn-form:hover .fa-arrow-right {
  transition: all 0.5s ease-in-out;
  transform: translateX(50%);
}
.seccion-10 .form-seccion-10 form #form-nombre .btn-form:active {
  background: linear-gradient(162.29deg, #8215BC 25.51%, #8215BC 150.49%);
}
.seccion-10 .form-seccion-10 form #form-nombre .btn-form i {
  padding-left: 5px;
}
.seccion-10 .form-seccion-10 form #form-img {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-left: auto;
  padding: 10px;
}
.seccion-10 .form-seccion-10 form #form-img img {
  width: 100%;
  height: auto;
  margin: 20px;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp {
  display: flex;
  padding-top: 40px;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp a:link {
  text-decoration: none;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp a:link .icon-wp {
  font-size: 25px;
  width: 50px;
  height: 50px;
  background-color: #E4FF22;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp a:hover {
  transition: 0.3s;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp a:hover .icon-wp {
  background-color: white;
  border: 2px solid black;
  transition: 0.3s;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp a:active .icon-wp {
  background-color: black;
  transition: 0.3s;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp a:active .icon-wp .fab {
  color: #E4FF22;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp a .icon-wp .fab {
  color: black;
}
.seccion-10 .form-seccion-10 form #form-img #contacto-whatsapp #texto-whatsapp {
  font-family: "gobolditalic";
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  flex-direction: column;
  height: 335px;
  padding-left: 140px;
  padding-right: 140px;
}
.footer .logo-coderhouse {
  margin-right: auto;
  padding-bottom: 10px;
  font-family: "gobold_bolditalic";
  font-size: 20px;
  line-height: 60px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: white;
}
.footer .logo-coderhouse span {
  font-family: "GoboldThinLight-Italic";
  color: #E4FF22;
}
.footer .contenido-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  color: white;
}
.footer .contenido-footer .footer-fila .footer-fila-ul {
  list-style-type: none;
}
.footer .contenido-footer .footer-fila .footer-fila-ul #footer-titulo-1 {
  font-family: "gobold_bolditalic";
  font-size: 14px;
  text-transform: uppercase;
  line-height: 26px;
}
.footer .contenido-footer .footer-fila .footer-fila-ul #footer-titulo-1 a:link {
  text-decoration: none;
  color: #E4FF22;
}
.footer .contenido-footer .footer-fila .footer-fila-ul #footer-titulo-1 a:visited {
  color: #E4FF22;
}
.footer .contenido-footer .footer-fila .footer-fila-ul #footer-titulo-1 a:hover {
  color: #F2F2F2;
}
.footer .contenido-footer .footer-fila .footer-fila-ul .li {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #F2F2F2;
}
.footer .contenido-footer .footer-fila .footer-fila-ul .li a:link {
  text-decoration: none;
  color: #F2F2F2;
}
.footer .contenido-footer .footer-fila .footer-fila-ul .li a:visited {
  color: #F2F2F2;
}
.footer .contenido-footer .footer-fila .footer-fila-ul .li a:hover {
  color: #E4FF22;
}
.footer .contenido-footer .footer-fila .footer-fila-ul #preventa {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
}
.footer .contenido-footer .footer-fila .footer-fila-ul #preventa a:link {
  text-decoration: none;
  color: #E4FF22;
}
.footer .contenido-footer .footer-fila .footer-fila-ul #preventa a:visited {
  color: #E4FF22;
}
.footer .contenido-footer .footer-fila .footer-fila-ul #preventa a:hover {
  color: white;
}
.footer .contenido-footer .footer-fila #footer-titulo-2 {
  font-family: "gobold_bolditalic";
  font-size: 14px;
  text-transform: uppercase;
  color: #E4FF22;
}
.footer .contenido-footer .footer-fila .icon-flex {
  display: flex;
}
.footer .contenido-footer .footer-fila .icon-flex .icon1 {
  padding-right: 10px;
  padding-top: 10px;
}
.footer .contenido-footer .footer-fila .icon-flex .icon1 a:link {
  text-decoration: none;
  color: #F2F2F2;
}
.footer .contenido-footer .footer-fila .icon-flex .icon1 a:visited {
  color: #F2F2F2;
}
.footer .contenido-footer .footer-fila .icon-flex .icon1 a:hover {
  color: #E4FF22;
}

.info-lucia {
  background-color: #E4FF22;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 20px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.info-lucia span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-lucia span a:link {
  text-decoration: none;
}
.info-lucia span a:link .icon-wp {
  font-size: 15px;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.info-lucia span a:active .icon-wp {
  background-color: black;
  transition: 0.3s;
}
.info-lucia span a:active .icon-wp .fa-behance, .info-lucia span a:active .icon-wp .fa-instagram {
  color: #E4FF22;
  transition: 0.3s;
}
.info-lucia span a .icon-wp .fab {
  color: black;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .seccion-1 {
    padding: 0;
  }
  .seccion-1 .video-banner .header-nav .logo-coderhouse span {
    padding-left: 15px;
  }
  .seccion-1 .video-banner .header-nav .hamburger {
    cursor: pointer;
    margin-left: auto;
    padding-right: 20px;
  }
  .seccion-1 .video-banner .header-nav .hamburger .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .seccion-1 .video-banner .header-nav .menu-principal {
    position: absolute;
    background: blue;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    pointer-events: none;
    z-index: 3;
    display: none;
  }
  .seccion-1 .video-banner .header-nav .menu-principal .open {
    display: block;
    pointer-events: all;
  }
  .seccion-1 .video-banner .header-nav .open {
    display: block;
    pointer-events: all;
  }
  .seccion-1 .video-banner .header-nav .nav-1 {
    height: 100%;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #menu {
    height: 100%;
    position: relative;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #tickets {
    display: none;
  }
  .seccion-1 .video-banner .banner {
    flex-direction: column;
    width: 90%;
    padding-top: 30px;
    padding-left: 20px;
  }
  .seccion-1 .video-banner .banner .info-banner {
    width: 100%;
    padding: 0;
  }
  .seccion-1 .video-banner .banner .info-banner h2 {
    font-size: 40px;
  }
  .seccion-1 .video-banner .banner .cuenta-regresiva {
    height: 300px;
    width: 100%;
    left: 0%;
    top: 500px;
  }
  .seccion-1 .video-banner .banner .cuenta-regresiva .contador {
    flex-direction: column;
  }
  .seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info {
    flex-direction: column;
    padding-top: 20px;
    padding-left: 0;
  }
  .seccion-1 .video-banner .banner .cuenta-regresiva .contador .contador-info .countdown-reloj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }

  .seccion-2 {
    padding: 0;
    flex-direction: column;
    height: 700px;
    padding-bottom: 40px;
  }
  .seccion-2 #speakersreconocidos-seccion-2 {
    padding: 0;
    width: 90%;
    height: 60%;
  }
  .seccion-2 #texto-seccion-2 {
    width: 90%;
    padding-right: 0px;
  }

  .seccion-3 {
    padding: 0;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    background-color: #E4FF22;
    z-index: 1;
    padding-bottom: 40px;
  }
  .seccion-3 #img-seccion-3 {
    width: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
  }
  .seccion-3 #img-seccion-3 .bg-video {
    display: block;
    position: absolute;
  }
  .seccion-3 #img-seccion-3 #conferencias-seccion-3 {
    justify-content: flex-end;
    width: 94.5%;
    padding: 0;
  }
  .seccion-3 #img-seccion-3 #conferencias-seccion-3 .titulo-thin {
    font-size: 45px;
  }

  .seccion-4 {
    height: fit-content;
    padding-bottom: 40px;
  }
  .seccion-4 .title {
    margin-bottom: auto;
  }
  .seccion-4 .speakers {
    padding: 0;
    height: auto;
    justify-content: center;
  }
  .seccion-4 .speakers .cards-1 {
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;
    justify-content: center;
  }
  .seccion-4 .speakers .cards-1 .speakerscard {
    margin: 0;
    width: 160px;
    padding: 10px;
    margin: 10px;
  }
  .seccion-4 .speakers .cards-1 .speakerscard .container {
    width: auto;
    height: auto;
  }
  .seccion-4 .speakers .cards-1 .speakerscard .container .bottom-right {
    font-size: 14px;
  }

  .seccion-5 {
    padding: 0;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
  }
  .seccion-5 .title {
    margin-bottom: auto;
  }
  .seccion-5 .cuerpo-seccion5 {
    padding: 0;
    height: auto;
    justify-content: center;
    flex-direction: column;
  }
  .seccion-5 .cuerpo-seccion5 #img-seccion-5 {
    margin: 0;
    width: 250px;
    height: 250px;
    padding-bottom: 40px;
  }
  .seccion-5 .cuerpo-seccion5 #texto-seccion-5 {
    padding: 0;
    width: 90%;
    height: auto;
    padding-bottom: 30px;
  }

  .seccion-6 {
    padding: 0;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
  }
  .seccion-6 .title {
    margin-bottom: auto;
  }
  .seccion-6 .agenda {
    padding: 0;
    width: 90%;
    padding-bottom: 30px;
  }
  .seccion-6 .agenda .agenda-fila {
    flex-direction: column;
    height: fit-content;
  }
  .seccion-6 .agenda .agenda-fila .agenda-hora {
    padding-bottom: 10px;
  }
  .seccion-6 .agenda .agenda-fila .agenda-info {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .seccion-6 .agenda .agenda-fila .agenda-info .charla {
    padding-bottom: 10px;
  }
  .seccion-6 .agenda .agenda-fila .agenda-info .categoria-charla {
    margin-left: 0;
    text-align: left;
  }

  .seccion-7 {
    padding: 0;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 40px;
  }
  .seccion-7 #preventa-seccion-7 {
    text-align: center;
    padding-top: 40px;
    width: fit-content;
  }
  .seccion-7 #contador {
    flex-direction: column;
    width: 90%;
  }
  .seccion-7 #contador .countdown-reloj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding: 0;
  }
  .seccion-7 #contador .countdown-reloj .countdown {
    padding: 10px 0px;
  }
  .seccion-7 #boton-seccion-7 {
    margin: auto;
    padding-top: 20px;
  }

  .seccion-8 {
    padding: 0;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 20px;
  }
  .seccion-8 .sponsors-seccion-8 {
    flex-direction: column;
    width: 90%;
    align-items: center;
  }

  .seccion-9 {
    padding: 0;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .seccion-9 #sponsor-seccion-9 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .seccion-9 #sponsor-seccion-9 h3 {
    padding: 0;
    text-align: center;
    padding-bottom: 20px;
  }

  .seccion-10 {
    padding: 0;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .seccion-10 .form-seccion-10 {
    padding: 0;
    width: 90%;
  }
  .seccion-10 .form-seccion-10 form {
    flex-direction: column;
  }
  .seccion-10 .form-seccion-10 form #form-nombre {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .seccion-10 .form-seccion-10 form #form-nombre input[type=text], .seccion-10 .form-seccion-10 form #form-nombre select {
    margin: 8px 0px 20px 0px;
  }
  .seccion-10 .form-seccion-10 form #form-nombre textarea {
    margin: 8px 0px 20px 0px;
  }
  .seccion-10 .form-seccion-10 form #form-nombre label {
    align-items: flex-start;
  }
  .seccion-10 .form-seccion-10 form #form-nombre .btn-form {
    margin: 0px;
  }
  .seccion-10 .form-seccion-10 form #form-img {
    margin: auto;
    width: fit-content;
  }
  .seccion-10 .form-seccion-10 form #form-img #imagen-seccion-3 {
    margin: 0;
  }

  .footer {
    padding: 0;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .footer .logo-coderhouse {
    margin: 0;
    width: 90%;
  }
  .footer .contenido-footer {
    flex-direction: column;
    width: 90%;
  }
  .footer .contenido-footer .footer-fila {
    padding-bottom: 20px;
  }

  .info-lucia {
    font-size: 11px;
    padding: 0;
    white-space: pre;
    line-height: 0px;
  }
  .info-lucia span a:link {
    font-size: 5px;
  }
  .info-lucia span a:link .icon-wp {
    margin-left: 5px;
  }
}
@media (min-aspect-ratio: 16/9) {
  .seccion-1 .video-banner .bg-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .seccion-1 {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .seccion-1 .video-banner {
    z-index: 1;
    background-color: black;
    width: 100%;
    height: inherit;
  }
  .seccion-1 .video-banner .bg-video {
    width: auto;
    height: auto;
    top: 30%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
    z-index: -1;
  }
  .seccion-1 .video-banner .header-nav {
    z-index: 3;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    display: flex;
  }
  .seccion-1 .video-banner .header-nav .logo {
    display: flex;
    width: 100%;
  }
  .seccion-1 .video-banner .header-nav .logo .logo-coderhouse {
    display: block;
    padding-top: 20px;
    line-height: 1;
  }
  .seccion-1 .video-banner .header-nav .logo .display-none {
    display: none;
  }
  .seccion-1 .video-banner .header-nav .display-none {
    display: none;
  }
  .seccion-1 .video-banner .header-nav .nav-1 {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #menu {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #menu .hamburger {
    cursor: pointer;
    margin-left: auto;
    padding-right: 20px;
    padding-top: 20px;
    justify-content: flex-end;
    display: flex;
    z-index: 4;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #menu .hamburger .fas {
    color: white;
    font-size: 22px;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal {
    position: absolute;
    background: #8215BC;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    pointer-events: none;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal #menu-li {
    padding: 50px 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #menu .menu-principal li {
    display: flex;
    justify-content: center;
  }
  .seccion-1 .video-banner .header-nav .nav-1 #menu .open {
    display: block;
    pointer-events: all;
    background-color: #8215BC;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 3;
    visibility: visible;
    opacity: 1;
  }
}
@media (min-aspect-ratio: 16/9) {
  .seccion-3 #img-seccion-3 .bg-video {
    width: 90%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .seccion-3 #img-seccion-3 {
    z-index: 1;
  }
  .seccion-3 #img-seccion-3 .bg-video {
    width: auto;
    height: 60%;
    transform: translate(25%);
  }
}

/*# sourceMappingURL=style.css.map */
