@import "./variables";

@import "./fonts";


@mixin flexCenter($background) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background;
}

@mixin h2 {
    font-family: 'gobold_bolditalic';
    font-size: 45px;
}

@mixin h3 {
    font-family: 'gobold_bolditalic';
    font-size: 30px;
    text-transform: uppercase;
}

@mixin h4 {
    font-family: 'gobold_bolditalic';
    font-size: 22px;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@mixin dm-sans{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
}

@mixin a-link{
    a:link{
        text-decoration: none;
        color: $color-terciario-2;
    }
    a:visited {
        color: $color-terciario-2;
    }
    a:hover {
        color: $color-secundario;
    }
}

@mixin a-link-menu{
    a {
        padding: 8px;
    }
    a:link{
        text-decoration: none;
        color: $color-terciario-2;
    }
    a:visited {
        color: $color-terciario-2;
    }
    a:hover {
        color: $color-primario;
        background-color: $color-secundario;
        padding: 8px;
        transition: 0.3s;
    }
    a:active{
        color: $color-secundario;
        background-color: transparent;
    }
}

@mixin title {
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin boton {
    width: 163px;
    height: 50px;
    background: $gradiente;
    color: $color-terciario;
    padding: 14px 20px;
    border: none;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    outline: none;
    transition: all 0.4s ease-in-out;
    &:hover {
        background: linear-gradient(162.29deg, #FF00FF 25.51%, #FF00FF 150.49%);
        transition: 0.3s;
        .fa-arrow-right{
            transition: all 0.5s ease-in-out;
            transform: translateX(50%);
        }
    }
    &:active{
        background: linear-gradient(162.29deg, #8215BC 25.51%, #8215BC 150.49%);
    }
}

@mixin boton-2 {
    height: 50px;
    width: 220px;
    background: $color-secundario;
    color: $color-terciario-3;
    padding: 14px 20px;
    box-sizing: border-box;
    border: 2px solid $color-secundario;;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 15px;
    outline: none;
    &:hover {
        background-color: $color-terciario;
        color: $color-terciario-3;
        padding: 14px 20px;
        border: 2px solid $color-terciario;
        transition: 0.3s;
    }
    &:active{
        box-sizing: border-box; 
        border: 2px solid $color-secundario;
        background: $color-terciario-3;
        color: $color-secundario;
        transition: 0.3s;
    }
}

@mixin boton-3 {
    height: 50px;
    background: transparent;
    color: $color-secundario;
    padding: 14px 20px;
    border: 2px solid $color-secundario;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    outline: none;
    &:hover {
        background: $color-secundario;
        color: $color-terciario-3;
        transition: 0.3s;
    }
    &:active{
        background-color: $color-terciario-3;
        color: $color-secundario;
        padding: 14px 20px;
        border: 2px solid $color-secundario;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.seccion-1{
    @include flexCenter(transparent);
    flex-direction: column;
    justify-content: flex-start;
    height: 750px;
    .video-banner{
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        width: 100%;
        height: 970px;
        display: block;
        .bg-video{
            width: 100%;
            position: absolute;
            margin: 0 auto;            
            z-index: -2;
        }
        .header-nav {
            @include flexCenter(transparent);
            padding-left: 30px;
            padding-top: 30px;
            padding-right: 30px;
            width: 100%;
            height: 70px;
            justify-content: space-between;
            .logo-coderhouse {
                margin-right: auto;
                font-family: 'gobold_bolditalic';
                font-size: 20px;
                line-height: 60px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: $color-terciario;
                span{
                    font-family: "GoboldThinLight-Italic";
                    color: $color-secundario;
                }
            }
            .nav-1{
                display: flex;
                width: 55%;
                justify-content: space-between;
                align-items: center;
                #menu{
                    display: flex;
                    list-style-type:none;
                    .hamburger{
                        display: none;
                    }
                    .menu-principal{
                        display: flex;
                        list-style-type:none;
                        #menu-li{
                            flex-direction: row;
                            padding: 30px 25px;
                            @include dm-sans;
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            color: $color-terciario-2;
                            @include a-link-menu;
                        }
                        li{
                            .boton-3{
                                @include boton-3;
                                margin-top: 14px;
                                i{
                                    padding-right: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .banner{
            @include flexCenter(transparent);
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: flex-end;

            .info-banner{
                width: 47%;
                height: 100%;
                padding: 100px 0px 0px 140px;
                display: flex;
                flex-direction: column;
                    p{
                        @include dm-sans;
                        font-size: 22px;
                        line-height: 29px;
                        color: $color-terciario-2;
                    }
                    h2{
                        @include h2; 
                        color: $color-terciario;
                        text-transform: uppercase;
                        line-height: 60px;
                        letter-spacing: 0.01em;
                    }
                    h4{
                        @include h4; 
                        color: $color-secundario;
                        text-transform: uppercase;
                        line-height: 38px;
                        .thin-title{
                            font-family: "GoboldThinLight-Italic";
                        }
                    }
            }

            .cuenta-regresiva{
                position: absolute;
                background-color: rgba(130, 21, 188, 0.5);
                width: 90%;
                height: 82px;
                left: 10%;
                top: 587px;
                z-index: 1;
                display: flex;
                padding: 10px;
                .contador {
                    display: flex;
                    align-items: center;
                    #botonconprecio{
                        display: flex;
                        align-items: center;
                        .boton-2 {
                            @include boton-2; 
                            i{
                                padding-right: 8px;
                            }
                        }
                        #precio {
                            padding: 13px 20px;
                            box-sizing: border-box; 
                            border: 2px solid $color-secundario;
                            background: transparent;
                            color: $color-secundario;
                            font-family: DM Sans;
                            font-weight: 700;
                            font-size: 15px;
                            display: flex;
                        }
                    }
                    .contador-info{
                        font-family: 'gobold_bolditalic';
                        font-size: 18px; 
                        color: $color-secundario;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        padding-left: 2%;
                        #texto-preventa{
                            width: 220px;
                        }
                        .countdown-reloj {
                            display: flex;
                            padding-left: 2%;
                            .countdown{
                                display: flex;
                                align-items: center;
                                #countdown-dias, #countdown-horas, #countdown-minutos, #countdown-segundos {
                                    font-size: 40px;
                                    color: $color-terciario;                                
                                }
                                .texto-countdown{
                                    color: $color-terciario;
                                    padding-left: 10%;
                                }
                                .hidden-resp{
                                    display: none;
                                }
                                .hora{
                                    @include dm-sans;
                                    font-weight: 700;
                                    color: $color-secundario;
                                    padding-left: 10px;
                                }    
                            }
                        }
                    }
                }
            }
        }
    }
}

.seccion-2{
    @include flexCenter($color-terciario);
    height: 500px;
    width: 100%;
    #speakersreconocidos-seccion-2{
        width: 50%;
        height: 100%;
        padding-left: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
            .titulo-10{
                font-family: 'gobold_bolditalic';
                font-size: 60px;
                line-height: 25px;
                text-transform: uppercase;
                color:$color-secundario;
                span {
                    color: $color-primario;
                    margin-left: -20px;
                }
            }
            .titulo-thin{
                font-family: 'GoboldThinLight-Italic';
                font-size: 50px;
                line-height: 65px;
                text-transform: uppercase;
            }
            .titulo-bold{
                font-family: 'gobold_bolditalic';
                font-size: 50px;
                line-height: 65px;
                text-transform: uppercase;
            }
            h4{
                @include h4;
                font-family: "GoboldThinLight-Italic";
                color: #BDBDBD;
                line-height: 30px;
                letter-spacing: 0.01em;
            }
    }
    #texto-seccion-2{
        width: 50%;
        padding-right: 140px;
        p{
            @include dm-sans;
            font-size: 20px;
            line-height: 30px;
            color: $color-texto;
        }
        .boton-1 {
            margin-top: 30px;
            @include boton;
            i{
                padding-left: 5px;
            }
        }
    }

}

.seccion-3{
    @include flexCenter(transparent);
    background-color: #dcff02;
    height: 500px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    #img-seccion-3{
        width: 100%;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        .bg-video{
            width: 80%;
            z-index: 1;
            position: absolute;
            overflow: hidden;
        }   
        #conferencias-seccion-3{
            width: 50%;
            padding-right: 140px;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            z-index: 2;
            padding-top: 60px;
                .titulo-10{
                    font-family: 'GoboldHollow-Italic';
                    font-size: 60px;
                    line-height: 35px;
                    text-transform: uppercase;
                    color:$color-terciario-3;
                    letter-spacing: 0.01em;
                    span {
                        font-family: "gobold_bolditalic";
                        color: $color-primario;
                        margin-left: -20px;
                    }
                }
                .titulo-thin{
                    font-family: 'gobold_bolditalic';
                    font-size: 50px;
                    line-height: 65px;
                    text-transform: uppercase;
                }
                h3{
                    font-family: "GoboldThinLight-Italic";
                    color: $color-terciario-3;
                    font-size: 30px;
                    line-height: 30px;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: $color-primario;
                    white-space: pre;
                }
                .boton-1 {
                    margin-top: 30px;
                    @include boton;
                    i{
                        padding-left: 5px;
                    }
                }
        } 
    }

}

.seccion-4{
    @include flexCenter($color-terciario);
    flex-direction: column;
    height: 960px;
    .title{
        @include title;
        margin-bottom: auto;
        h3{
            @include h3;
            padding-top: 20px;
            color: $color-primario;
        }
    }
    .speakers{
        display: flex;
        flex-wrap: wrap;
        padding-left: 130px;
        padding-right: 130px;
        padding-bottom: 124px;
        .cards-1 , .cards-2{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            .speakerscard{
                height: 300px;
                width: 170px;
                margin-bottom: 20px;
                margin: 10px;
                .container {
                    width: 170px;
                    height: 170px;
                    position: relative;
                    text-align: center;
                    color: white;
                    img{
                        width: 100%;
                        height: auto;
                    }
                    .bottom-right {
                        position: absolute;
                        font-family: 'gobold_bolditalic';
                        font-size: 16px;
                        line-height: 21px;
                        text-align: center;
                        text-transform: uppercase;
                        color: $color-secundario;
                        top: 90%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .texto-card{
                    h4{
                        text-align: center;
                        @include dm-sans;
                        font-size: 16px;
                        line-height: 35px;
                        text-align: center;
                        color: $color-primario;
                    }
                    p{
                        @include dm-sans;
                        font-size: 13px;
                        line-height: 18px;
                        color: $color-texto;
                    }
                }
            }
        }
    }
}

.seccion-5{
    @include flexCenter($color-terciario-2);
    flex-direction: column;
    height: 730px;
    .title{
        @include title;
        h3{
            @include h3;
            padding-top: 20px;
            color: $color-primario;
        }
    }
    .cuerpo-seccion5 {
        @include flexCenter(transparent);
        justify-content: space-between;
        height: 530px;
        padding-bottom: 124px;
        #img-seccion-5{
            width: 380px;
            height: 380px;
            margin-left: 140px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            #imagen-seccion-5{
                width: 100%;
                height: auto;    
            }
        }
        #texto-seccion-5{
            width: 50%;
            height: 100%;
            padding-right: 140px;
            display: flex;
            flex-direction: column;
            .titulo-thin{
                font-family: 'GoboldThinLight-Italic';
                font-size: 50px;
                line-height: 65px;
                text-transform: uppercase;
            } 
            .titulo-bold{
                font-family: 'gobold_bolditalic';
                font-size: 50px;
                line-height: 65px;
                text-transform: uppercase;
                white-space: pre;
            }  
            #fondo {
                span{
                    font-family: 'GoboldThinLight-Italic';
                    background-color: $color-secundario;
                    font-style: italic;
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 26px;
                    text-transform: uppercase;
                } 
            }
            .texto-seccion-5{
                @include dm-sans;
                font-size: 20px;
                line-height: 28px;
                color: $color-texto;
                padding-top: 30px;
            }
            a{
                font-family: 'gobolditalic';
                padding-top: 50px;
                color: $color-primario;
                font-size: 20px;
                line-height: 28px;
                letter-spacing: 0.02em;
                text-decoration: none;
            }
            a:hover{
                color: #FF00FF;
                transition: 0.3s;
            }
        }         
    }
}

.seccion-6{
    @include flexCenter($color-terciario-2);
    background: $gradiente;
    box-shadow: 10px 4px 20px rgba(130, 21, 188, 0.2);
    flex-direction: column;
    height: 853px;
    .title{
        @include title;        
        margin-bottom: auto;
        h3{
            @include h3;
            padding-top: 20px;
            color: $color-terciario;
        }
    }
    .agenda {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        padding-left: 230px;
        padding-right: 230px;
        .agenda-fila{
            display: flex;
            height: 60px;
            color: $color-terciario;
            padding-bottom: 5px;
            margin-bottom: 10px;
            .agenda-hora{
                margin-right: auto;
                width: 130px;
                h4{
                    font-family: 'gobold_bolditalic';
                    font-size: 20px;
                    text-transform: uppercase;
                }
            }
            .agenda-info {
                display: flex;
                flex: 1;
                border-bottom: 1px solid #FF00FF;
                .charla{
                    flex: 1;
                    @include dm-sans;
                    .titulo-charla{
                        .color-charla{
                            color: $color-secundario;
                        }
                    }
                }
                .categoria-charla{
                    width: 100px;
                    margin-left: auto;
                    font-family: 'gobold_bolditalic';
                    font-style: italic;
                    font-weight: bold;
                    font-size: 13px;
                    line-height: 16px;
                    color: $color-secundario;
                    text-align: right;
                }
            }
        }
    }
}

.seccion-7 {
    @include flexCenter($color-terciario-3);
    height: 237px;
    padding-left: 140px;
    padding-right: 140px;
    #preventa-seccion-7{
        width: 300px;
        font-family: "gobold_bolditalic";
        font-size: 22px;
        line-height: 26px;
        text-align: right;
        color: $color-secundario;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        p{
            font-size: 18px;
            color: $color-terciario;
            line-height: 38px;
        }
    }
    #contador{
        flex: 1;
        .countdown-reloj {
            display: flex;
            align-items: center;
            padding-left: 2%;
            font-family: 'gobold_bolditalic';
            .countdown{
                display: flex;
                align-items: center;
                padding-left: 2%;
                font-family: 'gobold_bolditalic';
                #countdown-dias2, #countdown-horas2, #countdown-minutos2, #countdown-segundos2 {
                    font-size: 40px;
                    color: $color-terciario;
                }
                .texto-countdown{
                    color: $color-terciario;
                    padding-left: 10%;
                    font-size: 18px;
                }
                .hora{
                    @include dm-sans;
                    font-weight: 700;
                    color: $color-secundario;
                    padding-left: 10px;
                    font-size: 18px;
                }
                .hidden-resp{
                    display: none;
                }
            }
        }
    }
    #boton-seccion-7{
        margin-left: auto;
        .boton-3{
             @include boton-3;
            i{
                padding-right: 8px;
            }
        }
    }
}

.seccion-8 {
    @include flexCenter($color-terciario-2);
    height: 477px;
    flex-direction: column;
    .title{
        @include title;
        margin-bottom: auto;
        h3{
            @include h3;
            padding-top: 20px;
            color: $color-primario;
        }
    }
    .sponsors-seccion-8{
        display: flex;
        flex: 1;
        .logos-sponsors{
            margin: 0px 30px;
            display: flex;
            width: 220px;
            height: 100px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

.seccion-9 {
    @include flexCenter($color-secundario);
    height: 214px;
    #sponsor-seccion-9{
        h3{
            font-family: "gobolditalic";
            padding-right: 40px;
            font-size: 30px;
            line-height: 45px;
            text-transform: uppercase;
        }
    }
    #boton-seccion-9{
        .boton-1 {
            @include boton;
            i{
                padding-left: 6px;
            }
        }
    }
}

.seccion-10 {
    @include flexCenter($color-terciario);
    flex-direction: column;
    height: 700px;
    .title{
        @include title;
        margin-bottom: auto;
        h3{
            @include h3;
            padding-top: 20px;
            color: $color-primario;
            .thin{
                font-family: "GoboldThinLight-Italic";
            }
        }
    }
    .form-seccion-10 {
        display: flex;
        flex: 1;
        padding-left: 140px;
        padding-right: 140px;
        width: 100%;
        form{
            display: flex;
            @include dm-sans;  
            font-size: 14px;
            line-height: 18px;          
            width: 100%;
            #form-nombre {
                width: 50%;
                display: flex;
                flex-direction: column;
                color: $color-texto;                
                input[type=text], select {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 3px solid #f8f8f8;
                    border-radius: 4px;
                    box-sizing: border-box;
                    background-color: #f8f8f8;
                    outline: none;
                }
                input[type=text]:focus {
                    border: 3px solid #E4FF22;
                }
                textarea {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 3px solid #f8f8f8;
                    border-radius: 4px;
                    box-sizing: border-box;
                    background-color: #f8f8f8;
                    outline: none;
                }
                textarea:focus {
                    border: 3px solid #E4FF22;
                }
                .btn-form {
                    @include boton;
                    margin: 8px 0;    
                    margin-top: 40px;
                    margin-left: auto;
                    i{
                        padding-left: 5px;
                    }
                } 
            }
            #form-img{
                display: flex;
                flex-direction: column;
                width: 350px;
                margin-left: auto;   
                padding: 10px;
                img {
                    width: 100%;
                    height: auto;
                    margin: 20px;
                }
                #contacto-whatsapp {
                    display: flex;
                    padding-top: 40px;                
                    
                    a:link{
                        text-decoration: none;
                        .icon-wp{
                            font-size: 25px;
                            width: 50px;
                            height: 50px;
                            background-color: $color-secundario;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: 0.3s;
                        }
                    }
                    a:hover {
                        transition: 0.3s;
                        .icon-wp{                            
                            background-color: $color-terciario;
                            border: 2px solid black;
                            transition: 0.3s;
                        }
                    }
                    a:active{
                        .icon-wp{
                            background-color: $color-terciario-3;
                            transition: 0.3s;
                            .fab{
                                color: $color-secundario;
                            }
                        }
                    }  
                    a{
                        .icon-wp{
                            .fab{
                                color: black;
                            }
                        }
                    }
                    #texto-whatsapp{
                        font-family: "gobolditalic";
                        font-size: 18px;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-left: 20px;
                    }
                }
            }
        }
    }
}

.footer {
    @include flexCenter($color-terciario-3);
    flex-direction: column;
    height: 335px;
    padding-left: 140px;
    padding-right: 140px;
        .logo-coderhouse {
            margin-right: auto;
            padding-bottom: 10px;
            font-family: 'gobold_bolditalic';
            font-size: 20px;
            line-height: 60px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: $color-terciario;
            span{
                font-family: "GoboldThinLight-Italic";
                color: $color-secundario;
            }
        }
        .contenido-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            @include dm-sans;
            color: $color-terciario;
            .footer-fila {
                .footer-fila-ul {
                    list-style-type:none;
                    #footer-titulo-1{
                        font-family: 'gobold_bolditalic';
                        font-size: 14px;
                        text-transform: uppercase;                        
                        line-height: 26px;
                        a:link{
                            text-decoration: none;
                            color: $color-secundario;
                        }
                        a:visited {
                            color:$color-secundario;
                        }
                        a:hover {
                            color: $color-terciario-2;
                        }
                    }
                    .li{
                        @include dm-sans;
                        font-size: 14px;
                        line-height: 26px;
                        color: $color-terciario-2;
                        @include a-link;
                    }
                    #preventa{
                        @include dm-sans;
                        font-size: 14px;
                        line-height: 26px;
                        a:link{
                            text-decoration: none;
                            color: $color-secundario;
                        }
                        a:visited {
                            color: $color-secundario;
                        }
                        a:hover {
                            color: $color-terciario;
                        }
                    }
                }
                #footer-titulo-2{
                font-family: 'gobold_bolditalic';
                font-size: 14px;
                text-transform: uppercase;
                color: $color-secundario;
                }
                .icon-flex{
                    display: flex;
                    .icon1{
                        @include a-link;
                        padding-right: 10px;
                        padding-top: 10px;
                    }
                }
            }
        }
}

.info-lucia{    
    background-color: $color-secundario;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 72px;
    padding: 20px;
    @include dm-sans;
    font-size: 18px;
    line-height: 23px;
    span{
        display: flex;
        justify-content: center;
        align-items: center;
        a:link{
            text-decoration: none;
            .icon-wp{
                font-size: 15px;
                width: 32px;
                height: 32px;
                background-color: $color-terciario;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                }
        }
        a:active{
            .icon-wp{
                background-color: $color-terciario-3;
                transition: 0.3s;
                .fa-behance, .fa-instagram {
                    color: $color-secundario;
                    transition: 0.3s;
                }
            }  
        }
        a{
            .icon-wp{
                .fab{
                    color: black;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .seccion-1 {
      padding: 0;
      .video-banner{
            .header-nav{
                .logo-coderhouse{
                    span{
                        padding-left: 15px;
                    }
                }
                .hamburger {
                    cursor: pointer;
                    margin-left: auto;
                    padding-right: 20px;
                    .line{
                        width: 30px;
                        height: 3px;
                        background: white;
                        margin: 5px;
                    }
                }
                .menu-principal{
                    position: absolute;
                    background: blue;
                    height: 100vh;
                    width: 100%;
                    flex-direction: column;
                    pointer-events: none;
                    z-index: 3;
                    display: none;
                    .open {
                        display: block;
                        pointer-events: all;
                    }
                }
                .open {
                    display: block;
                    pointer-events: all;
                }
                .nav-1{
                    height: 100%;
                    #menu{
                        height: 100%;
                        position: relative;
                    }
                    #tickets{
                        display: none;
                    }
                }
            }
            .banner {
                flex-direction: column;
                width: 90%;
                padding-top: 100px;
                padding-left: 20px;
                .info-banner{
                    width: 100%;
                    padding: 0;
                    p{
                        font-size: 20px;
                    }
                    h2{
                        font-size: 35px;
                    }
                    h4 {
                        font-size: 16px;
                    }
                }

                .cuenta-regresiva{
                    height: 300px;
                    width: 100%;
                    left: 0%;
                    top: 500px;
                    padding: 5px;
                    .contador{
                    flex-direction: column;
                    width: 100%;
                    .contador-info{
                        flex-direction: column;
                        padding-top: 20px;
                        padding-left: 0;
                        #texto-preventa{
                            text-align: center;
                        }
                        .countdown-reloj{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            padding-top: 10px;
                            padding-left: 0;
                            .countdown{
                                padding: 10px 0px;
                                #countdown-dias, #countdown-horas, #countdown-minutos, #countdown-segundos{
                                    font-size: 20px;
                                } 
                                .hidden-resp{
                                    display: block;
                                }
                            }
                            .hidden{
                                display: none;
                            }
                            .hora{
                                padding: 0px 3px 0px 3px;
                            }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .seccion-2{
        padding: 0;
        flex-direction: column;
        height: 700px;
        padding-bottom: 40px;
        #speakersreconocidos-seccion-2{
            padding: 0;
            width: 90%;
            height: 60%
        }
        #texto-seccion-2{
            width: 90%;
            padding-right: 0px;
        }
    }

    .seccion-3{
        padding: 0;
        height: 700px;
        flex-direction: column;
        justify-content: center;  
        background-color: transparent;
        background-color: #E4FF22;
        z-index: 1;
        padding-bottom: 40px;
        #img-seccion-3{ 
            display: flex;
            justify-content: center;  
            width: 100%;  
            overflow: hidden;
            position: absolute;
            height: 700px;
            .bg-video{
                display: block;
                position: absolute;
                height: 60%;
            }                     
            #conferencias-seccion-3{
                justify-content: flex-end;
                width: 94.5%;
                padding: 0;
                .titulo-thin{
                    font-size: 45px;
                }
            }
        }
    }

    .seccion-4{
        height: fit-content;
        padding-bottom: 40px;
        .title{
            margin-bottom: auto;
        }
        .speakers{
            padding: 0;
            height: auto;
            justify-content: center;
            .cards-1{
                flex-wrap: wrap;
                width: 100%;
                padding-bottom: 30px;
                justify-content: center;
                .speakerscard{
                    margin: 0;
                    width: 160px;
                    padding: 10px;
                    margin: 10px;
                    .container{
                        width: auto;
                        height: auto;
                        .bottom-right{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .seccion-5{
        padding: 0;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        .title{
            margin-bottom: auto;
        }
        .cuerpo-seccion5{
            padding: 0;
            height: auto;
            justify-content: center;
            flex-direction: column;
            #img-seccion-5{
                margin: 0;
                width: 250px;
                height: 250px;
                padding-bottom: 40px;
            }
            #texto-seccion-5{
                padding: 0;
                width: 90%;
                height: auto;
                padding-bottom: 30px;
            }
        }
    }

    .seccion-6{
        padding: 0;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        .title{
            margin-bottom: auto;
        }
        .agenda{
            padding: 0;
            width: 90%;
            padding-bottom: 30px;
            .agenda-fila{
                flex-direction: column;
                height: fit-content;
                .agenda-hora{
                    padding-bottom: 10px;
                }
                .agenda-info{
                    flex-direction: column;
                    padding-bottom: 20px;
                    .charla{
                        padding-bottom: 10px;
                    }
                    .categoria-charla{
                        margin-left: 0;
                        text-align: left;
                    }
                }
            }
        }
    }

    .seccion-7{
        padding: 0;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 40px;
        #preventa-seccion-7{
            text-align: center;
            padding-top: 40px;
            width: fit-content;
        }
        #contador{
            flex-direction: column;
            width: 90%;
            .countdown-reloj{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-top: 20px;
                padding: 0;            
                .countdown{
                    padding: 10px 0px;
                    #countdown-dias2, #countdown-horas2, #countdown-minutos2, #countdown-segundos2{
                        font-size: 20px;
                    } 
                    .hidden-resp{
                        display: block;
                    }
                }
                .hidden{
                    display: none;
                }
                .hora{
                    padding: 0px 3px 0px 3px;
                }
            }
        }
        #boton-seccion-7{
            margin: auto;
            padding-top: 20px;
        }
    }

    .seccion-8{
        padding: 0;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 20px;
        .sponsors-seccion-8{
            flex-direction: column;
            width: 90%;
            align-items: center;
        }
    }

    .seccion-9{
        padding: 0;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 40px;
        padding-top: 40px;
        #sponsor-seccion-9 {
            display: flex;
            align-items: center;
            justify-content: center;
            h3{
                padding: 0;
                text-align: center;
                padding-bottom: 20px;
            }
        }
    }

    .seccion-10{
        padding: 0;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 40px;
        padding-top: 40px;
        .title{
            h3{
                font-size: 28px;
            }
        }
        .form-seccion-10{
            padding: 0;
            width: 90%;
            form{
                flex-direction: column;
                #form-nombre{
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    input[type=text], select{
                        margin: 8px 0px 20px 0px;
                    }
                    textarea{
                        margin: 8px 0px 20px 0px;
                    }
                    label{
                        align-items: flex-start;
                    }
                    .btn-form{
                        margin: 0px;
                    }
                }
                #form-img{
                    margin: auto;
                    width: fit-content;
                    #imagen-seccion-3{
                        margin: 0;
                    }
                }
            }
        }
    }

    .footer{
        padding: 0;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 40px;
        padding-top: 40px;
        .logo-coderhouse{
            margin: 0;
            width: 90%;
        }
        .contenido-footer{
            flex-direction: column;
            width: 90%;
            .footer-fila{
                padding-bottom: 20px;
            }
        }
    }
    .info-lucia{
        font-size: 12px;
        padding: 0;
        white-space: pre;
        line-height: 0px;
        span{
            a:link{
                font-size: 5px;
                .icon-wp{
                    margin-left: 5px;
                }
            }
        }
    }
}

@media (min-aspect-ratio : 16/9) {
    .seccion-1{
        .video-banner{
            .bg-video{
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (max-aspect-ratio : 16/9) {
    .seccion-1{
        width: 100%;
        padding: 0;
        margin: 0;
        .video-banner{
            z-index: 1; 
            background-color: black; 
            width: 100%;
            height: inherit;
            .bg-video{
                width: auto;
                height: auto;
                top: 30%;
                transform: translate(-50%, -50%);
                opacity: 0.8;
                z-index: -1;
            }
            .header-nav{
                z-index: 3;
                width: 100%;
                padding: 0;
                margin: 0;
                height: auto;
                display: flex;
                .logo{
                    display: flex;
                    width: 100%;
                    .logo-coderhouse{
                        display: block;         
                        padding-top: 20px;
                        line-height: 1;           
                    }
                    .display-none{
                        display: none;
                    }
                }
                .display-none{
                    display: none;
                }
                .nav-1{
                    height: 100%;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    #menu{
                        height: 100%;
                        width: 100%;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        .hamburger {
                            cursor: pointer;
                            margin-left: auto;
                            padding-right: 20px;
                            padding-top: 20px;
                            justify-content: flex-end;
                            display: flex;
                            z-index: 4;
                            .fas{
                                color: white;
                                font-size: 22px;
                            }
                        }
                        .menu-principal{
                            position: absolute;
                            background: $color-primario;
                            height: 100vh;
                            width: 100%;
                            flex-direction: column;
                            pointer-events: none;
                            z-index: 3;
                            visibility: hidden;
                            opacity: 0;    
                            transition: visibility 0s, opacity 0.3s linear;
                            #menu-li{
                                padding: 15px 25px;
                                font-size: 16px;
                                display: flex;
                                justify-content: center;
                            }
                            li{
                                 display: flex;
                                justify-content: center;
                            }
                        }
                        .open {
                            display: block;
                            pointer-events: all;
                            background-color: $color-primario;
                            height: 100vh;
                            width: 100%;
                            flex-direction: column;
                            z-index: 3;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

@media (min-aspect-ratio : 16/9) {
    .seccion-3{
        #img-seccion-3{
            .bg-video{
                width: 55%;
                height: auto;
                padding-top: 10px;
                margin-left: 40px;
            }
        }
    }
}

@media (max-aspect-ratio : 16/9) {
    .seccion-3{
        #img-seccion-3{
            z-index: 1;
            .bg-video{
                width: auto;
                height: 55%;
                transform: translate(25%);
                padding-top: 30px;
            }
        }
    }
}